*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear
*/bin/*
*.metadata
*.settings
*.recommenders
*.project
*.*~
*\#*
*/*.Rhistory
*.Rhistory

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
.Rproj.user

# Python
__pycache__/
*.pyc
.idea/
venv/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
